<div class="inline-block mt-4">
  <%= image_tag "pluto.png", class: "inline-block w-40" %>
  <h3 class="text-2xl"><%= t("planets.homeworld") %></h3>
  <h4 class="text-xl">
    <%= Planet.human_attribute_name(:metal) %> -
    <%= t("planets.level", level: @planet.metal_mine_level) %>
    <span class="text-sm">
      (<%= t("planets.metal_production_hourly_rate", rate: @planet.metal_production_hourly_rate) %>)
    </span>
    <span class="text-sm">
      <%= link_to(
            t("planets.upgrade"),
            planet_metal_mine_upgrades_path(@planet),
            data: {turbo_method: "post"},
            class: "text-blue-800 underline hover:no-underline"
          ) %>
    </span>
  </h4>
  <p><%= @planet.metal %></p>
</div>
