<!DOCTYPE html>
<html>
  <head>
    <title>Rgame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white dark:bg-slate-900 dark:text-white">
      <div class="max-w-screen-xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <%= render "application/header" %>
        <%= render "application/flash" %>

        <%= yield %>
    </div>
  </body>
</html>
